* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  position: relative;
}

.progress-container::before {
  content: "";
  height: 4px;
  background-color: #e0e0e0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  height: 4px;
  background-color: #2286c0;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.4 ease;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: white;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  border-radius: 50%;
  transition: 0.4 ease;
}

.active {
  border-color: #2286c0;
}

.btn {
  background-color: #2286c0;
  border: 0;
  border-radius: 7px;
  margin: 5px;
  padding: 8px 30px;
  color: white;
  font-size: medium;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
.btn:focus{
    outline: none;
}

.btn[disabled]{
    background-color: gray;
    cursor: not-allowed;
}